<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm " style="background-color: rgba(8, 8, 99, 0.685)">
        <ul class=" nav head1">
            <%for(i=0;i<nav.length;i++){%>
            <li class="nav-item">
                <a class="nav-link" href="<%=nav[i].link%>"><%=nav[i].title%></a>
            </li>
            <%}%>
        </ul>
    </nav>
    <div class="jumbotron jumbotron-fluid next">
        <h1><%=title%></h1>
    </div>
    <div class="im">
        
    </div>

    <div class="container parent">
        <br>
        <form method="POST" action="/authors/edited">
            <input type="text" value="<%=athr._id%>" name="id" hidden>
            <div class="form-group">
                <label>Name</label><br>
                <input type="text" id="title" name="name" value="<%=athr.name%>" class="form-control" placeholder="book title" required><br>
            </div>
            <div class="form-group">
                <label>About</label>
                <textarea name="about" value="<%=athr.about%>"></textarea>
                <!-- <input type="" class="form-control" name="about" id="author" placeholder="author" required><br> -->
            </div>
            <div class="form-group">
                <label>Image</label><br>
                <input type="file" id="title" name="image" value="<%=athr.image%>" class="form-control" ><br>
            </div>
           
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-block btn-outline-secondary">ADD</button>
            </div>
           
            <div class="form-group">
                <button type="reset" class="btn btn-lg btn-block btn-outline-success" style="color: maroon;"><b>RESET</b></button>
            </div>
        </form>
        <button class="btn bg-primary">More</button>
    </div>

    <div class="last">
        <h3 class="ff"><b>Follow us on</b></h3>
        <div class="btn-group" >
            <button type="button" class="btn btn-primary btn-lg">Twitter</button>
            <button type="button" class="btn btn-secondary" style="background-color: midnightblue ">Facebook</button>
            <button type="button" class="btn btn-danger">Google+</button>
         </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>